@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to our platform!</h1>
    <p>Create, customize, and share surveys, quizzes, and forms with ease. Our system allows users to design their own templates with flexible form and element settings, as well as grant access to other users for collaboration and editing.</p>
</div>
